@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@400;700;900&display=swap");

/* UTILITY */
:root {
  --black: #252525;
  --grey: #505050;
  --grey1: #999999;
  --grey2: #d6d6d6;
  --grey3: #eeeeee;
  --yellow: #f0db4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey3);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
a,
li {
  font-family: "Open Sans", sans-serif;
}

p,
li {
  line-height: 1.6em;
}
/* END OF UTILITY */

/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 300px;
  height: 100%;
  background-color: #fff;
}

#navbar header {
  padding: 16px 24px;
  background-color: var(--yellow);
  box-shadow: 0 4px 15px #cacaca;
}

nav ul {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

nav ul li {
  list-style: none;
  border-top: solid 0.5px rgba(170, 170, 170, 0.5);
  position: relative;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--black);
  padding: 16px 24px;
}
nav ul li a:hover {
  text-decoration: underline;
  background-color: var(--grey3);
}

/* END OF NAVBAR */

/* MAIN */
#main-doc {
  margin-left: 300px;
}

#main-doc ul {
  margin-left: 72px;
}

#main-doc ul li {
  margin-top: 16px;
}

.main-section {
  background-color: #fff;
  margin: 48px 32px;
  margin-top: 64px;
  padding: 24px;
  border-radius: 25px;
  box-shadow: 0 0 25px #cacaca;
}

.main-section p {
  margin-top: 24px;
}

.main-section p,
li {
  color: var(--grey);
}

.main-section code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: var(--grey3);
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
}

#reference {
  background-color: var(--yellow);
}
/* END OF MAIN */
